<form method="post" asp-action="RegisterMorador" class="formulario">
    <label>Nome Completo</label>
    <input type="text" name="Nome" placeholder="Seu nome completo" required>

    <label>CPF</label>
    <input type="text" name="Cpf" placeholder="000.000.000-00" required>

    <label>Email</label>
    <input type="email" name="Email" placeholder="Seu e-mail" required>

    <label>Senha</label>
    <input type="password" name="Senha" placeholder="Crie uma senha" required>

    <label>Número do Apartamento</label>
    <input type="text" name="NumeroApartamento" placeholder="Ex: 101" required>

    <label>Telefone</label>
    <input type="text" name="Telefone" placeholder="(00) 00000-0000" required>

    <button type="submit" class="btn btn-rosa">Cadastrar</button>
</form>
